footer{
  .wraper__footer{
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: space-between;
      .footer__logo{
        .menu{
          margin: 5px;
        }
        img{
          width:190px ;
          height:47px ;
        }
      }
      .footer__link-center{
        .menu{
          margin: 5px;
        }
      }
      .footer__link-right{
        .menu{
          margin: 5px;
        }
      }
  }
}