body{
  display: flex;
  margin: 0px;
  padding: 0px;
  background-color: rgba(249, 248, 255, 1);
  justify-content: center;
  font-family: "Onest", sans-serif;
}
.wrapper{
  width: 1400px;
  height: fit-content;
  display: flex;
  justify-content: center;
  background-color: rgba(249, 248, 255, 1);
}
.content{
  width: 1160px;
  height: fit-content;
}
h1{
  font-size: 72px;
  line-height: 80px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
h2{
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.subtitle{
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
}
.body{
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
}
.menu{
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}



@import 'header' ;
@import 'main' ;
@import 'footer'